.page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.wrapper {
  transition: all 0.5s ease-out;
  @include pxRem(padding-left, 60);

}

.wrapper-lock {
  transition: all 0.5s ease-out;
  @include pxRem(padding-left, 200 !important);
}


