.v-text-field > .v-input__control > .v-input__slot {
  &:before {
    border: unset;
  }
}
.form {
  .form-required {
    label {
      &:after {
        content: ' ※';
        display: inline-block;
        color: map-get($color, danger);
      }
    }
  }
  .form-radio {
    label {
      @include pxRem(font-size, 11);
      @include pxRem(margin-left, 2);
      &:after {
        content: '';
        display: block;
      }
    }
  }
}