#what-we-do {
  background-color: map-get($color, primary);
  .shape-2 {
    svg {
      display: block;
    }
  }
  .step-doing {
    .badge {
      @include pxRem(font-size, 24);
    }
    &-meta {
      color: #4F4f4f;
    }
    &-item:nth-child(even) {
      direction: rtl;
    }
    &-title {
      small {
        @include pxRem(font-size, 16);
      }
    }
  }
}

#about-us {
  @include pxRem(min-height, 500);
  h1 {
    @include pxRem(letter-spacing, -3);
    line-height: 1;
    @include respond-above(medium) {
      @include pxRem(margin-left, -55);
    }
  }
}

#skills {
  @include pxRem(min-height, 500);
  h2 {
    @include pxRem(padding, 30 0 20);
    text-align: left;
  }
  p {
    color: map-get($color, text-light);
  }
  .skill-percent {
    .percent {
      @include pxRem(font-size, 40);
      line-height: 1;
      @include respond-below(medium) {
        @include pxRem(font-size, 25);
      }
      span {
        color: map-get($color, badge-1);
      }
    }
  }
}

#staff {
  @include pxRem(min-height, 500);
  .staff-description {
    @include pxRem(font-size, 16);
    color: map-get($color, text-blur);
  }
  .staff-content {
    @include pxRem(border-radius, 10);
    background-color: map-get($color, light-blue);
    .staff-avatar {
      width: 60%;
      margin: 0 auto;
    }
    h4 {
      color: map-get($color, black-a);
    }
    p {
      @include pxRem(font-size, 16);
      color: map-get($color, text-blur);
    }
    .staff-position {
      @include pxRem(margin, 5 0);
      color: map-get($color, badge-1);
      display: block;
    }
  }
  .action-btn {
    button {
      @include pxRem(width, 50);
      @include pxRem(height, 50);
      @include pxRem(box-shadow, 0 2 5 rgba(0, 0, 0, 0.1));
      border-radius: 50%;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      // i {
      //   position: absolute;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      // }
    }
  }
}

#blogs {
  background-color: map-get($color, bg-search);
}

.home {
  h2 {
    text-transform: capitalize;
    text-align: center;
  }
}

#statistics {
  .animation-num {
    @include pxRem(font-size, 50);
  }
}
