#what-we-do {
  background-color: map-get($color, primary);
  .shape-2 {
    svg {
      display: block;
    }
  }
  .step-doing {
    .badge {
      @include pxRem(font-size, 24);
    }
    &-meta {
      color: #4F4f4f;
    }
    &-item:nth-child(even) {
      direction: rtl;
    }
    &-title {
      small {
        @include pxRem(font-size, 16);
      }
    }
  }
}

#about-us {
  @include pxRem(min-height, 500);
  h1 {
    @include pxRem(letter-spacing, -3);
    line-height: 1;
    @include pxRem(margin-left, -55);
  }
}

#skill-design {
  @include pxRem(min-height, 500);
  h2 {
    @include pxRem(padding, 30 0 20);
    text-align: left;
  }
  p {
    color: map-get($color, text-light);
  }
  .skill-percent {
    .percent {
      @include pxRem(font-size, 40);
      line-height: 1;
      @include respond-below(medium) {
        @include pxRem(font-size, 25);
      }
      span {
        color: map-get($color, badge-1);
      }
    }
  }
}

#blogs {
  background-color: map-get($color, bg-search);
}

.home {
  h2 {
    text-transform: capitalize;
    text-align: center;
  }
}
