.blog-grid-images {
  .col {
    padding: 4px !important;
  }
}
.blog-grid {
  @include pxRem(height, 175);
  overflow: hidden;
  figure {
    height: 100%;
    img {
      @include pxRem(border-radius, 5);
    }
  }
  .blur-image {
    position: relative;
    height: calc(159px / 2);
    &:first-child {
      @include pxRem(margin-bottom, 8);
    }
    .more-blur {
      @include pxRem(padding-bottom, 79.5);
      @include pxRem(border-radius, 5);
      display: inline-block;
      width: 100%;
      background-color: rgba(153,153,153,0.74902);
      position: absolute;
      left: 0;
      top: 0;
      span {
        @include pxRem(font-size, 20);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: map-get($color, white);
      }
    }
  }
}
.blog-3grid {
  display: flex;
}